body{
margin:0;
overflow:hidden;
font-family:Arial;
}

.menu{
background:url("assets/menu-bg.jpg") center/cover no-repeat;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.menu-box{
background:rgba(0,0,0,0.7);
padding:40px;
border-radius:20px;
text-align:center;
color:white;
}

button{
padding:12px 25px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
}

canvas{
display:block;
}